.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Custom */
@media (min-width: 1400px){
  .container {
      max-width: 1300px;
  }
}

.btn-danger {
  color: #ffffff;
  border-color: #f42367;
  background-color: #f42367;
}

.btn-outline-danger {
  color: #f42367;
  border-color: #f42367;
}

.btn-primary {
  color: #ffffff;
  border-color: #753492;
  background-color: #753492;
}

.btn-outline-primary {
  color: #753492;
  border-color: #753492;
}

.jumbotron {
  margin-bottom: 0;
}